{% extends 'base2.html' %}
{% block title %} Django Projects
{% endblock title %}


{% block djangoactive %}
menu-active
{% endblock djangoactive %}
{% block body %}
{% load static %}
<section id="intro" style="background: url('static/img/bg/django.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
    <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0">My<br><span> Projects</span> </h1>
        <p class="mb-4 pb-0">My all React and Django Projects are available here with source code</p>
        {% comment %} <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4"
            data-vbtype="video" data-autoplay="true"></a> {% endcomment %}
        <a href="/#aboutsection" class="about-btn scrollto">About Me</a>
    </div>
</section>
{% static 'img/djangoProjects' as baseurl %}
<div class="container text-center my-4 myworksample px-0">
    <h1 class="mb-5">My Work samples</h1>
    <p>Every day i am learning some new things and trying to improve all my previous work with new projects
        which are listed below you can visit each of my template just click on it and check it right now</p>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mx-auto mt-2" id="mycards">
        <!-- cards will appear hre by js -->
        <div class="col col-lg-4 my-1 d-flex">
            <div class="card h-80" style="width: 18rem;background-color:#6eff0085">
                <img src="{{baseurl}}/pixelVibe.gif" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <a href="https://github.com/ankitapuri/pixelvibe" target = "_blank"> 
                        <h5 class="card-title">PixelVibe</h5>
                    </a>
                    <p class="card-text">It is an open source project and I worked on it 2 months under GirlScript-Summer-Of-Code as an open source contributor, I had implemented various functionality like login,sign up, forgot password , otp verification etc.
                        I had written its backend in Django from scratch.
                    </p>
                    <div class="mt-auto">
                        <a href="https://github.com/ankitapuri/pixelvibe" target = "_blank"
                        class="btn btn-primary">Source Code</a>
                    </div>
                </div>
            </div>
        </div>
        

        

        <div class="col col-lg-4 my-1 d-flex">
            <div class="card h-80" style="width: 18rem;background-color:#6eff0085">
                <img src="{{baseurl}}/blog.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <a href="https://codesmashersblog.herokuapp.com/" target = "_blank">
                        <h5 class="card-title">CodeSmashers Blog</h5>
                    </a>
                    <p class="card-text">Its a full functional blog for personal use in which admin can make post directly from admin panel which is having integrated text editor.
                        User can read the post and if they want to comment they have to first make an account and after that they add comments and reply as well
                    </p>
                   <div class="mt-auto">
                     <a href="https://github.com/arpit456jain/-CodesmashersBlog-In-Django" target = "_blank" class="btn btn-primary">Source
                        Code</a>
                   </div>
                </div>
            </div>
        </div>

        <div class="col col-lg-4 my-1 d-flex">
            <div class="card h-80" style="width: 18rem;background-color:#6eff0085">
                <img src="{{baseurl}}/todolist.png" class="card-img-top" alt="...">
                 <div class="card-body d-flex flex-column">
                    <a href="https://task-manager15.herokuapp.com/" target = "_blank">
                        <h5 class="card-title">A Secure and Personal To-Do App Built with Django</h5>
                    </a>
                    <p class="card-text">This is a robust and user-friendly Task Manager web application built using Django and Django REST Framework. Designed for individual productivity, it includes user authentication so each user can manage their own tasks securely.</p>
                   <div class="mt-auto">
                     <a href="https://github.com/arpit456jain/TaskManager"
                        class="btn btn-primary" target = "_blank">Source Code</a>
                   </div>
                </div>
            </div>
        </div>


       <div class="col col-lg-4 my-1 d-flex">
            <div class="card h-90" style="width: 18rem;background-color:#6eff0085">
                <img src="{{baseurl}}/taskManagerReactApp.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <a href="https://codesmashersblog.herokuapp.com/" target = "_blank">
                        <h5 class="card-title">Task Manager</h5>
                    </a>
                    <p class="card-text">
                        This is a sleek and responsive Task Manager application developed using React for the frontend and Spring Boot / Django REST APIs for the backend. It allows users to efficiently manage their daily tasks with features like:
                    </p>
                    <ul>
                        <li>Backend Integration – Uses REST APIs for all CRUD operations.</li>
                        <li>Responsive Design – Built with Bootstrap for a mobile-friendly UI.</li>
                        <li>Real-time Updates – Instantly reflects changes like add/edit/delete without page reload.</li>
                    </ul>
                    <div class="mt-auto">
                        <a href="https://github.com/arpit456jain/-CodesmashersBlog-In-Django" target = "_blank" class="btn btn-primary">Source
                        Code</a>
                    <a href="https://codesmashers-taskmanager.netlify.app/" target = "_blank" class="btn btn-primary">
                        Live</a>
                    </div>
                    
                </div>
            </div>
        </div>


          <div class="col col-lg-4 my-1 d-flex">
            <div class="card h-90" style="width: 18rem;background-color:#6eff0085">
                <img src="{{baseurl}}/url_shortner.png" class="card-img-top" alt="...">
                 <div class="card-body d-flex flex-column">
                    <a href="https://codesmashersblog.herokuapp.com/" target = "_blank">
                        <h5 class="card-title">URL Shortner</h5>
                    </a>
                    <p class="card-text">
                     This is a sleek, user-friendly URL Shortener built using React. It allows users to input long, cluttered URLs and instantly generate a clean, shortened version. Whether you want to make sharing links easier or keep your messages tidy, this app is the perfect tool.   
                    </p>
                    <ul>
                        <li>Instant URL shortening with a single click.</li>
                        <li>Built with React for speed and modularity.</li>
                        <li>Minimal and responsive UI for a smooth user experience.</li>
                        <li>Copy-to-clipboard functionality for easy sharing</li>
                    </ul>
                    <div class="mt-auto">
                        <a href="https://github.com/arpit456jain/URL_shortener" target = "_blank" class="btn btn-primary">Source
                        Code</a>
                    <a href="https://codesmashers-url-shortner.netlify.app/" target = "_blank" class="btn btn-primary">
                        Live</a>
                    </div>
                </div>
            </div>
        </div>


        
    


    </div>
</div>

{% endblock body %}