{% extends 'base2.html' %}
{% block title %} CodeSmashers
{% endblock title %}
{% block homeactive %}
menu-active
{% endblock homeactive %}

{% block mycss %}
p
{
font-weight:500;
}
div
{
overflow:hidden;
}
body
{
font-family: Verdana, sans-serif; margin:0;
}
.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner
.carousel-item,.view{height:95%}

.carousel h1
{
color: #fff;
font-size: 4rem;
}
.carousel p
{
color: #fff;
}
.mytext,.mytext p
{
margin-top: 20vh;
}
@media screen and (max-width: 550px) {
.carousel h1
{
font-size: 3rem;
}

.mytext,.mytext p
{
margin-top: 10vh;
}
}
{% endblock mycss %}

{% block body %}
{% load static %}
{% static 'img/skills' as baseurl %}
{% static 'img/experience' as baseurl2 %}
{% static 'img/crousel' as baseurl3 %}
<section id="intro" style="background: url('static/img/bg/home.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">Welcome to<br><span>CodeSmashers</span></h1>
    <p class="mb-4 pb-0">This is the home page of my website Hope you like it!! </p>
    {% comment %} <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4"
      data-vbtype="video" data-autoplay="true"></a> {% endcomment %}
    <a href="/about" class="about-btn scrollto">About Me</a>
  </div>
</section>

<section class="container text-center my-5 py-4">
  <h1>Some of My Skills</h1>
  <p>These are some of my skills i had learned so far.But i am still because <br> learning is the process which never
    ends!!</p>

  <div class="row rowsetting">
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/C++.png" class="img-fluid">
      </div>
      <h2 class="mt-3">Competitive Coding</h2>
      <p>Well we all know the importane of C and C++ although its very old but it is still in use which implies its
        importance</p>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/webd.png" class="img-fluid" style="width: 20vh;height: 15vh;">
      </div>
      <h2 class="mt-3">Web Development</h2>
      <p>It is the basic building block of Web Development every person should know the basics of html,css,and js</p>
    </div>

    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/python.jpg" class="img-fluid">
      </div>
      <h2 class="mt-3">Python</h2>
      <p>Python is nowdays one of the most popular programming language used in many fields like web D , coding, ML ,
        Data Science and lots n lots of more such fields</p>
    </div>
  </div>
</section>

<div class="container-fluid px-0 my-4">
  <h2 class="text-center">Some of my workSamples</h2>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{baseurl3}}/sample1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{baseurl3}}/sample0.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{baseurl3}}/sample2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{baseurl3}}/sample3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{baseurl3}}/sample4.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{baseurl3}}/sample5.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{baseurl3}}/sample6.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{baseurl3}}/sample7.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


<div class="col-lg-6 col-md-4 col-10 d-block mx-auto mb-5 text-center">
  <h2>And Much More</h2>
  <a href="/portfolio" class="btn btn-primary"><b>Check Out My Portfoilio</b></a>
</div>







<div class="container text-center mb-5">
  <h1>My Experiences</h1>
  <p>I had done some internship before you can check Credentials in Portfolio page </p>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <figure class="figure">
        <img src="{{baseurl2}}/way2.png" class="img-fluid figure-img rounded-circle">
        <figcaption>
          <h4>Way2assignments</h4>
          <p>Its a 30 days work from home Internship as Buisness Development intern its a great experience as it was
            my first internship</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <figure class="figure">
        <img src="{{baseurl2}}/Start Up Inc.jpg" class="img-fluid figure-img rounded-circle">
        <figcaption>
          <h4>StartUp Inc</h4>
          <p>Iti is also a 30 days work from home Internship as Front-end developer intern and its my second
            internship and i learn a lot from this i am very greatful for their support.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <a href="/portfolio" style="color:black">
        <figure class="figure">
          <img src="{{baseurl2}}/next.jpg" class="img-fluid figure-img rounded-circle">
          <figcaption>
            <h4>And Much More</h4>
            <p>There is lot of things you don't know about me Check out my Portfolio for more information</p>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>

{% endblock body %}