{% extends 'base2.html' %}
{% block title %} CodeSmashers
{% endblock title %}
{% block homeactive %}
menu-active
{% endblock homeactive %}

{% block mycss %}
p
{
font-weight:500;
}
div
{
overflow:hidden;
}
body
{
font-family: Verdana, sans-serif; margin:0;
}
.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner
.carousel-item,.view{height:95%}

.carousel h1
{
color: #fff;
font-size: 4rem;
}
.carousel p
{
color: #fff;
}
.mytext,.mytext p
{
margin-top: 20vh;
}
@media screen and (max-width: 550px) {
.carousel h1
{
font-size: 3rem;
}

.mytext,.mytext p
{
margin-top: 10vh;
}
}
{% endblock mycss %}

{% block body %}
{% load static %}
{% static 'img/skills' as baseurl %}
{% static 'img/experience' as baseurl2 %}
{% static 'img/crousel' as baseurl3 %}
<section id="intro" style="background: url('static/img/bg/home.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
  <div class="intro-container wow fadeIn">
    <h1 class="mb-4 pb-0">Welcome to<br><span>CodeSmashers</span></h1>
    <p class="mb-4 pb-0">This is the home page of my website Hope you like it!! </p>
    {% comment %} <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4"
      data-vbtype="video" data-autoplay="true"></a> {% endcomment %}
    <a href="/about" class="about-btn scrollto">About Me</a>
  </div>
</section>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


<div class="col-lg-6 col-md-4 col-10 d-block mx-auto mb-5 text-center">
  <h2>And Much More</h2>
  <a href="/portfolio" class="btn btn-primary"><b>Check Out My Portfoilio</b></a>
</div>


{% endblock body %}