{% extends 'base2.html' %}

{% block title %} Portfolio{% endblock title %}


{% block css %}
.mypadding h2
{
margin-top: 3vh;
}
{% endblock css %}

{% block portfolioactive %}
menu-active
{% endblock portfolioactive %}
{% load static %}

{% block body %}
<section id="intro" style="background: url('static/img/bg/bg1.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">My <span> Portfolio</span></h1>
      <p class="mb-4 pb-0">This is my portfolio page where all skills and experiences are listed with  detailed information</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="/about" class="about-btn scrollto">About Me</a>
    </div>
  </section>
<section class="container text-center my-4 py-2">
{% static 'img/skills' as baseurl %}
{% static 'img/experience' as baseurl2 %}
  <h1>SKILLS</h1>
  <p>These are the skills that i had gained in my first year of B.tech at <b>Madan Mohan Malaviya University Of Technology ,Gorakhpur</b> </p>

  <div class="row rowsetting mypadding">
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/C.png" class="img-fluid">
      </div>
      <h2 class="mt-1">C</h2>
      <p>I work in C for a long time because of its processing speed and because of this sometimes i hav code in C. I
        got 4 starts in c on <b>Hackerrank</b> but very soon it will be 5 stars.It is very efficient and fast that's why
        it is still in use</p>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/C++.png" class="img-fluid">
      </div>
      <h2 class="mt-3">C++</h2>
      <p>I just love this language after python because of its speed and in-built functions in <b>STL,VECTOR</b> and
        other things. I used C++ for almost 2 years when i don't know much about python. But still now most of the time
        i code in C++ when python takes more time</p>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/ds.png" class="img-fluid">
      </div>
      <h2 class="mt-3">DSA and CP</h2>
      <p>Its a vast area for me, till now i worked on <b>Array(1-D and 2-D), Singley Linked List , Stack and Queue </b>
        i will go for tree and hashing very soon . At Hackerrank i have 4 stars in Problem Solving section and it will
        be 5 stars very soon.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/python.jpg" class="img-fluid">
      </div>
      <h2 class="mt-3">Python</h2>
      <p>Its my favorite language for all (coding and Web Devlopment both). I always prefer python 1st for any coding
        question if it fails then i go for C++ . I got 5 stars on hackerrank and now i started learning Flask for going
        further in <br>Web D.
      </p>
    </div>

    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/html.jpg" class="img-fluid">
      </div>
      <h2 class="mt-3">HTML</h2>
      <p>We all know its the onr of most basic building block of Web Devlopment and i know it very well i am learning
        this things for past 1 year and i think i am pretty good in html</p>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/css.png" class="img-fluid">
      </div>
      <h2 class="mt-3">CSS</h2>
      <p>It looks so easy ,but its not. Css is fully dependent on experiance it takes a lot of time to understand it
        properly but still i am learning phase in CSS. Every day i find something new about it.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/js.png" class="img-fluid">
      </div>
      <h2 class="mt-3">JavaScript</h2>
      <p>I am still beginner in JS but its a great tool and it makes work very easy. I have lots of ideas of projects on
        Js and i am working on it. Then i will go for some frameworks of Js.For now i ad made some small projects which
        i uploaded on Sololearn.</p>
    </div>

    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/bootstrap.png" class="img-fluid">
      </div>
      <h2 class="mt-3">Bootstrap</h2>
      <p>It a great framework for me it makes work very easy for me,now i always use bootstrap in every template and
        projects to make it responsive in all Screen. It solve my biggest problem of responsive ness for which sometimes
        i had to write a long code in Css</p>
    </div>

    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/mysql.png" class="img-fluid">
      </div>
      <h2 class="mt-3">My Sql</h2>
      <p>It is the only language i know for database and i only know basics about it because i have not created any
        project on backend i am working on my skills for backend like php and flask but for now i dont't know very much
        about it.</p>
    </div>

    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/django.png" class="img-fluid">
      </div>
      <h2>Django</h2>
      <p>It is the only language i know for database and i only know basics about it because i have not created any
        project on backend i am working on my skills for backend like php and flask but for now i dont't know very much
        about it.</p>
    </div>

    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <div class="imgsetting d-block m-auto">
        <img src="{{baseurl}}/flask.png" class="img-fluid">
      </div>
      <h2>Flask</h2>
      <p>It is the only language i know for database and i only know basics about it because i have not created any
        project on backend i am working on my skills for backend like php and flask but for now i dont't know very much
        about it.</p>
    </div>

  </div>
</section>







<div class="container text-center my-5">
  <h1>My Experiences</h1>
  <p>I had done some internship and workshop before </p>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <figure class="figure">
        <img src="{{baseurl2}}/way2.png" class="img-fluid figure-img rounded-circle">
        <figcaption>
          <h4>Way2assignments</h4>
          <p>Its a 30 days work from home Internship as Buisness Development intern its a great experience as it was my
            first internship.It was a great experience to do a official internship</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#way2assignments">
            View Certificate
          </button>
          <div class="modal fade" id="way2assignments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Way2Assignments</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    
                  </button>
                </div>
                <div class="modal-body">
                  <a href="img/way2certi.png" download="ARPIT JAIN">
                    <img src="{{baseurl2}}/way2certi.png" class="img-fluid figure-img">
                  </a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <figure class="figure">
        <img src="{{baseurl2}}/Start Up Inc.jpg" class="img-fluid figure-img rounded-circle">
        <figcaption>
          <h4>StartUp Inc</h4>
          <p>Iti is also a 30 days work from home Internship as Front-end developer intern and its my second internship
            and i learn a lot from this i am very greatful for their support.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#StartUpInc">
            View Certificate
          </button>
          <!-- Modal -->
          <div class="modal fade" id="StartUpInc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">StartUpInc</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                   
                  </button>
                </div>
                <div class="modal-body">
                  <a href="img/Start Up Inc certi.jpg" download="ARPIT JAIN">
                    <img src="{{baseurl2}}/Start Up Inc certi.jpg" class="img-fluid figure-img">
                  </a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <figure class="figure">
        <img src="{{baseurl2}}/E-literate logo.png" class="img-fluid figure-img rounded-circle">
        <figcaption>
          <h4>E-Literate</h4>
          <p>Iti is also a 30 days work from home Internship as Front-end developer intern and its my second internship
            and i learn a lot from this i am very greatful for their support.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#E-literate">
            View Certificate
          </button>
          <!-- Modal -->
          <div class="modal fade" id="E-literate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">E-literate</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    
                  </button>
                </div>
                <div class="modal-body">
                  <a href="img/experience/e-literate certi.jpeg" download="ARPIT JAIN">
                    <img src="{{baseurl2}}/e-literate certi.jpg" class="img-fluid figure-img">
                  </a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>

    {% comment %} gsoc {% endcomment %}
<div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <figure class="figure">
        <img src="{{baseurl2}}/gsoc.jfif" class="img-fluid figure-img rounded-circle">
        <figcaption>
          <h4>Gsoc GirlScript Summer Of Code </h4>
          <p>Iti is also a 30 days work from home Internship as Front-end developer intern and its my second internship
            and i learn a lot from this i am very greatful for their support.</p>
          <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#gsoc">
            View Certificate
          </button>
          <!-- Modal -->
          <div class="modal fade" id="gsoc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Gsoc</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    
                  </button>
                </div>
                <div class="modal-body">
                  <a href="img/e-literate certi.jpeg" download="ARPIT JAIN">
                    <img src="{{baseurl2}}/gsoc certi.jpg" class="img-fluid figure-img">
                  </a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>


    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <figure class="figure">
        <img src="{{baseurl2}}/gfg.png" class="img-fluid figure-img rounded-circle">
        <figcaption>
          <h4>GFG 11 weeks Workshop</h4>
          <p>Iti is also a 30 days work from home Internship as Front-end developer intern and its my second internship
            and i learn a lot from this i am very greatful for their support.</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#geeksforgeeks">
            View Certificate
          </button>
          <!-- Modal -->
          <div class="modal fade" id="geeksforgeeks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">GeeksForGeeks</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                   
                  </button>
                </div>
                <div class="modal-body">
                  <a href="img/gfg certi.jpeg" download="ARPIT JAIN">
                    <img src="{{baseurl2}}/gfg certi.jpeg" class="img-fluid figure-img">
                  </a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-4 col-md-4 col-10 d-block m-auto">
      <figure class="figure">
        <img src="{{baseurl2}}/next.jpg" class="img-fluid figure-img rounded-circle">
        <figcaption>
          <h4>Wating for the next</h4>
          <p>I am eagerly waiting for the next internship because i belive in skills and experience the more i work, the
            more i became rich in experience </p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#resume">
            View my Resume
          </button>
          <!-- Modal -->
          <div class="modal fade" id="resume" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">My Resume</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                   
                  </button>
                </div>
                <div class="modal-body">
                  <a href="{{baseurl2}}/resume.png" download>
                    <img src="{{baseurl2}}/resume.png" class="img-fluid figure-img">
                  </a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>



{% endblock body %}