{% extends 'base2.html' %}
{% block title %} work sample
    {% endblock title %}

{% block css %}
 .myworksample a 
    {
      color:purple;
    }
{% endblock css %}
{% block projectactive %}
menu-active
{% endblock projectactive %}
    {% block body %}
    <section id="intro" style="background: url('static/img/bg/work sample.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0"></br><span>Front end <br></span>Templates</h1>
      <p class="mb-4 pb-0">Here you will find Templates I made with source code!!</p>
      
      
    </div>
  </section>
   
<div class="container text-center my-4 myworksample px-0">
        <h1 class="mb-5">My Work samples</h1>
        <p>Every day i am learning some new things and trying to improve all my  previous work with new projects
        which are listed below you can visit each of my template just click on it and check it right now</p>
      <div class="row text-center mx-auto mt-2" id="mycards">
        <!-- cards will appear hre by js -->
      

      </div>
</div>

{% endblock body %}


{% block myjs %}
 {% load static %}
    {% static 'img' as baseurl %}
 <script>
      var mycards = document.getElementById('mycards');
       
         
    let rootlink = 'https://cool-frontend-templates.netlify.app/'
      let links = ["food%20website%20template/","chinese%20restaurant/" ,"Restaurant template/index.html","we design and develop/index.html","portfolio/","instagram%20clone%20frontend/"];

      let basepath = ["workSample/"]
      let path = ["sample3.png","sample4.png" , "sample6.png","sample8.png","portfolio.png","insta.png"];

    let s = "https://github.com/arpit456jain/Cool-Front-End-Templates/tree/master/"
      let source = ["food%20website%20template/","Chinese Restaurant/" ,"restaurant template","We design and develop","Portfolio/","Instagram%20Clone%20Frontend/"];
      let names = ["Food Ordering","Classic Restraunt", "Pizza corner","We Design and Develop","Old Portfolio" , "Instagram Clone"];
      let desc = [
                        "This template i made using only html,css and some media queries but later i added some bootstrap but still it can be made better its a food ordering website template"
                        ,
                        " I had made this template as a task under the <b>front-end developer intership at Start Up Inc</b> from 9th July 2020 to 9 Aug 2020.It is fully reponsive as i used bootstrap and medeia queries"
                        ,
                        "This template is also created as a task under an intership and it is fully responsive good-looking template i only used html,css,bootstrap,and some media queries"
                        ,
                        "This template is also created as a task under an intership and it is fully responsive good-looking template i only used html,css,bootstrap,and some media queries"
                        ,
                    "Its my old portfolio that i built in my first year it is the front end part of my portfolio. I had migrated it to django now"
                    ,
                    "I tried to clone the front page of instagram , i thought of making it dyanamic by using a api for fetching the data"
                  ];
      

      for(let i=0;i<links.length;i++)
      {
        console.log(links[i] , typeof(links[i]))
      mycards.innerHTML += ` <div class="col-lg-4 col-md-4 col-12">
          <div class="card" style = "overflow:hidden;">
            <a href ="`+rootlink+links[i]+`" target = "_blank">
            <img src={{baseurl}}/${basepath[0]}${path[i]} class="card-img-top img-fluid" alt="...">
            <div class="card-body p-2">
              <h5 class="card-title">${names[i]}</h5>
              </a>
              <p class="card-text">${desc[i]}</p>
              <a href="${s}`+`${source[i]}" class="btn btn-primary text-white" target = "_blank">source code</a>
            </div>
          </div>
         
        </div>`;
      }
    </script>
{% endblock myjs %}