{% extends 'base2.html' %}
{% block title %} work sample
    {% endblock title %}

{% block css %}
 .myworksample a 
    {
      color:purple;
    }
{% endblock css %}
{% block projectactive %}
menu-active
{% endblock projectactive %}
    {% block body %}
    <section id="intro" style="background: url('static/img/bg/work sample.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0"></br><span>Front end <br></span>Projects</h1>
      <p class="mb-4 pb-0">Here you will find my front end work and projects and some free templates with source code!!</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="/about" class="about-btn scrollto">About Me</a>
    </div>
  </section>
   
<div class="container text-center my-4 myworksample px-0">
        <h1 class="mb-5">My Work samples</h1>
        <p>Every day i am learning some new things and trying to improve all my  previous work with new projects
        which are listed below you can visit each of my template just click on it and check it right now</p>
      <div class="row text-center mx-auto mt-2" id="mycards">
        <!-- cards will appear hre by js -->
      

      </div>
</div>

{% endblock body %}


{% block myjs %}
 {% load static %}
    {% static 'img' as baseurl %}
 <script>
      var mycards = document.getElementById('mycards');
       
         
    let rootlink = 'https://arpit456jain.github.io/CodeSmashers/'
      let links = ["yoga%20template/index.html","Simple portfolio template/index.html","Food Ordering/index.html","Food template/index.html", "Imaginative template/index.html" ,"Restaurant template/index.html","we design and develop/index.html","FB social media website/index.html","project/my first project.html"];

      let basepath = ["workSample/"]
      let path = ["sample1.png","sample2.png","sample3.png","sample4.png", "sample5.png" , "sample6.png","sample8.png","sample7.png","projects.png" ];

    let s = "https://github.com/arpit456jain/CodeSmashers/tree/master/"
      let source = ["yoga template","Simple portfolio template","Food Ordering","Food template", "Imaginative template" , "Restaurant template","we design and develop","Fb social media website","css effects"]
      let names = ['Yoga template',"Simple Portfolio template","Food Ordering","Classic Restraunt", "Imaginative" , "Pizza corner","We Design and Develop","Fb social media website","css effects" ];
      let desc = [
                        "Its is the first template that i made when i don't know about bootstrap so  i use only html and css but later i added some more code to make it responsive but it needs more modifications which i will do soon.",

                        "This is sample template for portfolio which i made when i started to use bootstrap and this portfoilio is also based on this template. we all know because or bootstrap it is fully responsive",


                        "This template i made using only html,css and some media queries but later i added some bootstrap but still it can be made better its a food ordering website template",

                        " I had made this template as a task under the <b>front-end developer intership at Start Up Inc</b> from 9th July 2020 to 9 Aug 2020.It is fully reponsive as i used bootstrap and medeia queries"
                        ,
                        " This one is made <b> completely in html and css only</b>. I did't use bootstrap in this all i used 3 css files for 3 different screens <b>Desktop, i-pad, mobile</b>  and its actually looks very nice.",
                        "This template is also created as a task under an intership and it is fully responsive good-looking template i only used html,css,bootstrap,and some media queries",
                        "This template is also created as a task under an intership and it is fully responsive good-looking template i only used html,css,bootstrap,and some media queries",

                        "I tried to Replicate the Front-End of Fb Social Media Platform it is 80-90% similar to actual page and its also dynamic."
                      ,"It contains some small projects like alarm and calc and some cool css effects like neon button,loading animations and much more"
                  ];
      

      for(let i=0;i<9;i++)
      {
        console.log(links[i] , typeof(links[i]))
      mycards.innerHTML += ` <div class="col-lg-4 col-md-4 col-12">
          <div class="card" style = "overflow:hidden;">
            <a href ="`+rootlink+links[i]+`">
            <img src={{baseurl}}/${basepath[0]}${path[i]} class="card-img-top img-fluid" alt="...">
            <div class="card-body p-2">
              <h5 class="card-title">${names[i]}</h5>
              </a>
              <p class="card-text">${desc[i]}</p>
              <a href="${s}`+`${source[i]}" class="btn btn-primary text-white" target = "_blank">source code</a>
            </div>
          </div>
         
        </div>`;
      }
    </script>
{% endblock myjs %}