{% extends 'string/base.html' %}
{% block title %}play with strings.com
{% endblock title %}
{% block projectname %} <a href="/stringAnalyzer/">My StringAnalyzerApp</a> {% endblock projectname %}

{% block body  %}

<section id="intro" style="background: url('/static/img/bg/stringanalyser.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">My<br><span>StringAnalyzer</span> App</h1>
      <p class="mb-4 pb-0">This is an ongoing project i had more ideas to add but still its is working. Have a Try!! </p>
      
      <a href="/about" class="about-btn scrollto">About Me</a>
    </div>
  </section>

{% if user.is_authenticated %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong></strong>Welcome {{user.first_name}} Nice to see you again!!
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

  

    <div class="container col-lg-7 col-12 my-5 py-2">
        <h1 class="text-center">Enter you text below</h1>
        <form  action="analyse/" method="post"> {% csrf_token %}
         <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" name="text2" rows="3"></textarea>
        </div>
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" name="removepunc" id="customSwitch1" >
                <label class="custom-control-label" for="customSwitch1">Remove Punctuations </label>
            </div>
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" name="fullcaps" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">UPPERCASE </label>

            </div>
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" name="newlineremover" id="customSwitch3">
                <label class="custom-control-label" for="customSwitch3">new line remover </label>
            </div>
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" name="extraspaceremover" id="customSwitch4">
                <label class="custom-control-label" for="customSwitch4">extraspaceremover</label>
            </div>
            <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" name="charcount" id="customSwitch5">
                <label class="custom-control-label" for="customSwitch5">Count the chars</label>
            </div>
          <div class="custom-control custom-switch">
              <input class="custom-control-input" type="checkbox" name="capitalize" id="customSwitch6">
                <label class="custom-control-label" for="customSwitch6">capitalize first Letter</label>
            </div>
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-primary my-3">anaylise text</button>
           {% else %}
             <button type="submit" class="btn btn-primary my-3" disabled>anaylise text</button>
             <p>please login to use this...</p>
            {% endif %} 
        </form>

    </div>

   {% endblock  %}