{% extends 'string/base.html' %}
{% block title %}Sign Up
{% endblock title %}
{% block projectname %} <a href="/stringAnalyzer/">My StringAnalyzerApp</a> {% endblock projectname %}

{% block feedback %}<li><a href="/stringAnalyzer/feedback">FeedBack</a></li>{% endblock feedback %}

{% block body %}

<section id="intro" style="background: url('/static/img/bg/bg1.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">My StringAnalyzerApp App<br><span>Sign Up page</span> Conference</h1>
      <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
      
      <a href="/about" class="about-btn scrollto">About Me</a>
    </div>
  </section>

<div class="container my-5">
   <h1 class="text-center">Sign Up here</h1>
  <form method="post" action="/stringAnalyzer/registration/signup/">
  {% csrf_token %}
  <div class="form-group my-1 py-1">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" aria-describedby="emailHelp" required>
  </div>  
  <div class="form-group my-1 py-1">
    <label for="uname">User Name</label>
    <input type="text" class="form-control" id="uname" name="uname" aria-describedby="emailHelp" required>
  </div>
  <div class="form-group my-1 py-1">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
  </div>
  <div class="form-group my-1 py-1">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <div class="form-group my-1 py-1">
    <label for="cpassword">Confirm Password</label>
    <input type="password" class="form-control" id="cpassword" name="cpassword" required>
  </div>
  
  <button type="submit" class="btn btn-primary mt-2">Sign Up</button>
</form>
  </div>
{% endblock body %}