{% extends 'myblog/base2.html' %}
{% block title %}blog post
{% endblock title %}

{% block css %}
.cmnticon
{
    width:4rem;
    padding:0;
    display:block;
}
.replysection
{
    width:2.5rem;
}
.replies
{
    {% comment %} background:red; {% endcomment %}
}
@media only screen and (max-width: 768px)
{
     .replies
    {
        {% comment %} background:yellow; {% endcomment %}
        padding-left:3rem;
    }
}
{% endblock css %}

{% block blogactive %}active
{% endblock blogactive %}
{% load humanize %}

{% load extra %}
{% block body %}
<!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/myblog/img/bg/bg3.jpg')">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            {% comment %} <h2 class="subheading">Problems look mighty small from 150 miles up</h2> {% endcomment %}
            <span class="meta">Posted by
              <a href="#">{{post.author}}</a>
              {{post.timeStamp| naturaltime}}</span>(<span > {{post.views}} views</span>)
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container my-3">
    <div class="blog-post">
        <p>{{post.content|safe}}</p>
        <hr>
    </div>
</div>

<div class="container">
    <h2>Comments ({{comments.count}})</h2>
    <div class="my-2">
        {% if user.is_authenticated %}
        <form action="/myblog/postComment" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Post Comment </label>
                <input type="text" class="form-control" name="comment" placeholder="Enter comment here" required>
            </div>
            <input type="hidden" name="postSno" value="{{post.sno}}">
            <input type="hidden" name="parentSno" value="">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% else %}
        <p>Please login to post a comment </p>
        {% endif %}
    </div>
    {% for comment in comments %}
    <div class="row my-3">
        <div class="col-md-1 px-1">
            <img class="rounded cmnticon p-1" src="/static/myblog/img/user.png" alt="user">
        </div>
        <div class="col-md-11 ">
            <b> {{comment.user.username}} </b> at {{comment.timestamp}} <span
                class="badge badge-secondary ">{{comment.timestamp| naturaltime}}</span>
            <div> {{comment.comment}} </div>
            <div class="reply">
                {% if user.is_authenticated %}
                <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse"
                    data-target="#replyBox{{comment.sno}}" aria-expanded="false"
                    aria-controls="replyBox{{comment.sno}}">
                    Reply
                </button>
                <div class="collapse" id="replyBox{{comment.sno}}">
                    <div class="card card-body my-2">
                        <form action="/myblog/postComment" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment">Post a reply </label>
                                <input type="text" class="form-control" name="comment" placeholder="Enter reply here" required>
                                <input type="hidden" name="parentSno" value="{{comment.sno}}">
                            </div>
                            <input type="hidden" name="postSno" value="{{post.sno}}" >
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <button class="btn btn-sm btn-primary disabled" type="button" data-toggle="collapse"
                    data-target="#replyBox{{comment.sno}}" aria-expanded="false"
                    aria-controls="replyBox{{comment.sno}}">
                    Please login to post reply
                </button>
                {% endif %}
                <div class="replies  my-2 ">
                     {% for reply in replyDict|get_val:comment.sno %}
                    <div class="row my-2">
                        <div class="col-md-1">
                            <img class="rounded replysection my-2 border border-dark p-1" src="/static/myblog/img/user.png" alt="user">
                        </div>
                        <div class="col-md-11 px-1">
                            <div class="col-md-11 px-1 ">
                                <b> {{reply.user.username}} </b> <span class="badge badge-secondary ">{{reply.timestamp| naturaltime}}</span>
                                <div>{{reply.comment}}</div>
                            </div>
                            <br>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div {% endblock body %}