
.our-team{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .pic:before{
    content: "";
    background: #716a9e;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    opacity: 0.78;
    transform: scale(0);
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .pic:before{
    transform: scale(1);
}

.our-team .pic img{
    width: 100%;
    height: 15rem;
}

.our-team .social{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 40%;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .social{
    opacity: 1;
}

.our-team .social li{
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li:nth-child(1){
    transform: translate3d(22px, -19px, 0px);
}

.our-team:hover .social li:nth-child(1){
    transform: translate3d(62px, -19px, 0px);
}

.our-team .social li:nth-child(2){
    transform: translate3d(36px, 38px, 0px);
}

.our-team:hover .social li:nth-child(2){
    transform: translate3d(36px, 8px, 0px);
}

.our-team .social li:nth-child(3){
    transform: translate3d(-18px, -75px, 0px);
}

.our-team:hover .social li:nth-child(3){
    transform: translate3d(-18px, -46px, 0px);
}

.our-team .social li:nth-child(4){
    transform: translate3d(-5px, -19px, 0px);
}

.our-team:hover .social li:nth-child(4){
    transform: translate3d(-43px, -19px, 0px);
}

.our-team .social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #333;
    font-size: 16px;
    color: #fff;
    margin: 0 15px 0 0;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li a:hover{
    line-height: 35px;
    background: #fff;
    color: #333;
    transform: rotate(-45deg);
}

.our-team .social li a i{
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li a:hover i{
    transform: rotate(45deg);
}

.our-team .team-content{
    padding: 15px 10px;
    background: #fff;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.our-team small{
    display: block;
    font-size: 14px;
    color: #999;
    margin-bottom: 8px;
}

.our-team .team-layer{
    width: 100%;
    padding: 34px 10px;
    background: #f7f7f7;
    border-bottom: 2px solid #716a9e;
    position: absolute;
    bottom: -50px;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .team-layer{
    bottom: 0;
    opacity: 1;
}

.our-team .team-layer a{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 12px 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .team-layer a:hover{
    color: #716a9e;
}

.our-team .post{
    display: block;
    font-size: 14px;
    color: #999;
    text-transform: capitalize;
}

@media only screen and (max-width: 990px){
    /* .our-team{ margin-bottom: 35px; } */
}@charset "utf-8";
/* CSS Document */

