{% extends 'base3.html' %}
{% block title %}FeedBack{% endblock title %}
{% block projectname %} <a href="/calculator/">Calculator App</a> {% endblock projectname %}
{% block homeactive %}{% endblock homeactive %}
{% block feedback %}<li class="menu-active"><a href="/calculator/feedback">FeedBack</a></li>{% endblock feedback %}

{% block body %}

<section id="intro" style="background: url('/static/img/bg/bg1.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Calculator App's<br><span>FeedBack</span> Page</h1>
      <p class="mb-4 pb-0">Give me your feedback and suggestions.It will help me a lot.</p>
      
      <a href="/about" class="about-btn scrollto">About Me</a>
    </div>
  </section>


    <div class="container my-5 col-lg-6 col-sm-11">
        <h1>Enter your valuable feedback here!!</h1>
        <form action="feedback" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Your Full Name</label>
                <input type="text" class="form-control" id="name" placeholder="enter your full name" name="name" required>
            </div>  
            
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
            </div>
            
            <div class="mb-3">
                <textarea class="form-control" id="equation" rows="5" name="feedback" required placeholder="enter your feedback here">
                </textarea>
            </div>  
            <script>
            var textarea = document.getElementById('equation');
            textarea.value=""
            </script>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
{% endblock body%}