{% extends 'base3.html' %}
{% block title %}My VotingPoll App{% endblock title %}
{% block projectname %} <a href="/votingPollApp">My VotingPoll App</a> {% endblock projectname %}
{% block body %}
{% block feedback %}<li class="menu-active"><a href="/votingPollApp/feedback">FeedBack</a></li>{% endblock feedback %}
<section id="intro" style="background: url('/static/img/bg/bg1.jpg') top center;width: 100%;height: 100vh;  
  background-size: cover; overflow: hidden; position: relative;">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">My Voting Poll App<br><span>FeedBack</span> Conference</h1>
      <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
      
      <a href="/about" class="about-btn scrollto">About Me</a>
    </div>
  </section>
    <div class="container my-5 col-6">
        <h1>Enter your Valuable feed back here!!</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Your Full Name</label>
                <input type="text" class="form-control" id="name" placeholder="enter your full name" name="name">
            </div>  
            
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
            </div>
            
            <div class="mb-3">
                <textarea class="form-control" id="equation" rows="5" name="feedback" placeholder="enter your feedback here">
                </textarea>
            </div>  
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
</div>
{% endblock body%}