  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container-fluid px-5">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h1><a href="/" style="color:white;">Code<span style="color:red">Smashers</span></a></h1>
            <p>This is not just a website, it's a dream project,whenever i create any project i always wanted to show it
              to others but it's very difficult for me to do that because i had no platform for sharing my projects and
              showcase my skils that's why i always wanted a website or PortFolio where i can show my all
              skils,experience,certificates,Profiles and Achievements on different platforms.This is the reason i
              created this website as my Dream Project.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful GitHub Repos</h4>
            <ul>
               <li><i class="fa fa-angle-right"></i> <a href="https://cool-frontend-templates.netlify.app/" target="_blank">Cool Front
                  End Templates</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="https://amazing-css-effects.netlify.app/" target="_blank">Amazing Css
                  Effects</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="https://amazing-js-project.netlify.app/" target="_blank">Amazing Js
                  Projects</a></li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/arpit456jain/Web-Development-Path-And-Resources">Web-Development-Path-And-Resources</a>
              </li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/arpit456jain/Open-Source-Programs">Open-Source-Programs</a></li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/arpit456jain/DSA-Path-And-Important-Questions">DSA-Path-And-Important-Questions</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Django Projects</h4>
            <ul>
              
              <li>
                <i class="fa fa-angle-right"></i> <a href="https://github.com/arpit456jain/CodesmashersBlog-In-Django">CodeSmashers Blog</a>
              </li>
          
              <li>
                <i class="fa fa-angle-right"></i> <a href="https://github.com/arpit456jain/TaskManager">TaskManager App</a>
              </li>
             

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>React Projects</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i>
                 <a href="https://codesmashers-taskmanager.netlify.app/" target="_blank">
                  Task Manager App</a>
              </li>
              <li><i class="fa fa-angle-right"></i>
                 <a href="https://github.com/arpit456jain/QuizAppFrontEndReact" target="_blank">
                  Quiz App</a>
              </li>

              <li><i class="fa fa-angle-right"></i>
                 <a href="https://codesmashers-url-shortner.netlify.app/" target="_blank">
                  Url Shortner</a>
              </li>
              
            </ul>

          </div>
          <div class="col-12 mx-auto">
            <div class="social-links col-lg-2 col-sm-12 mx-auto">
              {% for link in allLinks %}
                {% if link.title != "Resume" %}
                <a href="{{link.url}}" target="_blank" class=""><i class="{{link.icon}}"></i></a>
                {% endif %}
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>CodeSmashers</strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://linktr.ee/arpit456jain" target="_blank" style="color:#f82249">Arpit jain</a>
      </div>
    </div>
  </footer><!-- #footer -->
