  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container-fluid px-5">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h1><a href="/" style="color:white;">Code<span style="color:red">Smashers</span></a></h1>
            <p>This is not just a website, it's a dream project,whenever i create any project i always wanted to show it
              to others but it's very difficult for me to do that because i had no platform for sharing my projects and
              showcase my skils that's why i always wanted a website or PortFolio where i can show my all
              skils,experience,certificates,Profiles and Achievements on different platforms.This is the reason i
              created this website as my Dream Project.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful GitHub Repos</h4>
            <ul>
               <li><i class="fa fa-angle-right"></i> <a href="https://cool-frontend-templates.netlify.app/" target="_blank">Cool Front
                  End Templates</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="https://amazing-css-effects.netlify.app/" target="_blank">Amazing Css
                  Effects</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="https://amazing-js-project.netlify.app/" target="_blank">Amazing Js
                  Projects</a></li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/arpit456jain/Web-Development-Path-And-Resources">Web-Development-Path-And-Resources</a>
              </li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/arpit456jain/Open-Source-Programs">Open-Source-Programs</a></li>
              <li><i class="fa fa-angle-right"></i> <a
                  href="https://github.com/arpit456jain/DSA-Path-And-Important-Questions">DSA-Path-And-Important-Questions</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Django Projects</h4>
            <ul>
              
              <li>
                <i class="fa fa-angle-right"></i> <a href="https://github.com/arpit456jain/CodesmashersBlog-In-Django">CodeSmashers Blog</a>
              </li>
          
              <li>
                <i class="fa fa-angle-right"></i> <a href="https://github.com/arpit456jain/TaskManager">TaskManager App</a>
              </li>
             

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>React Projects</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i>
                 <a href="https://codesmashers-taskmanager.netlify.app/" target="_blank">
                  Task Manager App</a>
              </li>
              <li><i class="fa fa-angle-right"></i>
                 <a href="https://github.com/arpit456jain/QuizAppFrontEndReact" target="_blank">
                  Quiz App</a>
              </li>
              
            </ul>

          </div>
          <div class="col-12 mx-auto">
            <div class="social-links col-lg-3 col-sm-12 mx-auto">
              <a href="https://github.com/arpit456jain" target="_blank" class="twitter"><i class="fa fa-github"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100011460231562" target="_blank" class="facebook"><i
                  class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/111arpit1/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://www.codechef.com/users/aj15"  target="_blank" class="google-plus"><i class="fa fa-code"></i></a>
              <a href="https://www.linkedin.com/in/arpit-jain-0b054a170/" target="_blank" class="linkedin"><i
                  class="fa fa-linkedin"></i></a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>CodeSmashers</strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://linktr.ee/arpit456jain" target="_blank" style="color:#f82249">Arpit jain</a>
      </div>
    </div>
  </footer><!-- #footer -->
